/* navigation sec --start */

.nav1 .ancnav .image1{
    width: 100%;
}
.firstrow .nav1{
    background-color: white;
}
.firstrow .nav1 p{
    font-size: 10px;
    
}
.firstrow .heading1 span{
    color: green;
}
.firstrow .nav1 .navigation{
    color: black;
}
.firstrow .nav1 .navigation:hover{
    background-color: rgb(15, 15, 167);
    color: white;
    font-weight: bold;
}
.firstrow .nav1 img{
    width: 50%;
    border-radius: 150px;
}

/* navigation sec --end */

/* front sec --start */

.frontrow{
    padding-top: 6%;
}
.frontrow .column1{
    padding-top: 10%;
    padding-left: 3%;
    background-color: aliceblue;
}
.frontrow .column1 h2{
    font-family: 'Oswald', sans-serif !important;
    font-weight: 300;
    font-size: 56px;
}
.frontrow .column1 p{
    font-size: large;
    padding-top: 2%;
}
.frontrow .column2 img{
    width: 100%;
}

/* front sec --end */

/* department sec --start */

.deptcont{
    margin-top: 7%;
    margin-bottom: 7%;
}

.deptrow2 .column1 h4{ 
    padding-bottom: 2%;
}
.deptrow2 .column1{
    padding-top: 5%;
    background-color: aliceblue;
    padding-left: 5%;
    padding-right: 5%;
}
.deptrow2 .column1 p{
    text-align: justify;
    font-size: 16px;
    line-height: 28px;
}
.deptrow2 .column2 img{
    width: 100%;
}

.deptrow3 .column1 h4{ 
    padding-bottom: 2%;
}
.deptrow3 .column1{
    padding-top: 5%;
    /* background-color: aliceblue; */
    padding-left: 5%;
    padding-right: 5%;
}
.deptrow3 .column1 p{
    text-align: justify;
    font-size: 16px;
    line-height: 28px;
}
.deptrow3 .column2 img{
    width: 100%;
}

/* department sec --end */

/* footer sec --start */

.footersec{
    background-color: aliceblue;
    width: 100%;
}
.footersec .firstcont{
    background-color: #85ba32;
    
}
.footersec .column2 button{
    background-color: black;
    color: white;
    padding: 4% 6% 4% 6%;
}
.footerlinks .footrow{
    padding-top: 7%;
    padding-bottom: 7%;
}

/* footer sec --end */