{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    
    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <div class="container-fluid">


<!-- navigation sec --start -->

        <div class="row firstrow">
            <div class="col-lg column1">


              <div class="container ">
                
                <nav class="navbar nav1 fixed-top navbar-expand-lg navbar bg-dark-light">
                    <div class="container ">
                      
                        <a class="navbar-brand ancnav" href="{% url 'index' %}">
                            <img class="image1" src="{% static 'images/gmrl-logo.svg' %}" alt="icon1">
                          </a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                          <li class="nav-item ms-3 me-3">
                            <a class="nav-link active navigation" aria-current="page" href="{% url 'about' %}">ABOUT US</a>
                          </li>
                          <li class="nav-item ms-3 me-3">
                            <a class="nav-link navigation" href="{% url 'package' %}">PACKAGES</a>
                          </li>
                          <li class="nav-item ms-3 me-3">
                            <a class="nav-link navigation" href="{% url 'department' %}">DEPARTMENTS</a>
                          </li>
                          <li class="nav-item ms-3 me-3">
                            <a class="nav-link navigation" href="{% url 'blog' %}">BLOG</a>
                          </li>
                          <li class="nav-item ms-3 me-3">
                            <a class="nav-link navigation" href="{% url 'gallery' %}">GALLERY</a>
                          </li>
                          <li class="nav-item ms-3 me-3">
                            <a class="nav-link navigation" href="{% url 'contact' %}">CONTACT US</a>
                          </li>
                        </ul>
                      </div>
                   
                    </div>
                  </nav>
                </div>


            </div>
            
        </div>
    

<!-- navigation sec --end -->


<!-- front view sec --start -->


  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      
      <div class="carousel-item active">
        <div class="row frontrow">
        <div class="col-lg-6 column1">
          <h1>Unlocking Vital<br>
            Insights: Your Blood, Your Lab</h1>
            <p>Unlocking Vital Insights: Where Your Blood Holds the Key to Your<br>
              Health – Welcome to Your Trusted Laboratory.</p>
              <button class="button1 mt-4">Learn More</button>
        </div>
        <div class="col-lg-6 column2">
        <img src="{% static 'images/banner-01.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
      </div>


      <div class="carousel-item">
        <div class="row frontrow">
          <div class="col-lg-6 column1">
            <h1>
              Your Journey to<br>
              Wellness: Precision Diagnostics,<br>
              Compassionate Care.
            </h1>
            <p>Experience excellence in healthcare at our state-of-the-art lab,<br>
              where precision meets compassion for your well-being.</p>
              <button class="button1 mt-4">Learn More</button>
          </div>
          <div class="col-lg-6 column2">
        <img src="{% static 'images/banner-02.jpg' %}" class="d-block w-100" alt="...">
      </div>
      </div>
    </div>
      
    </div>
  </div>

  <div class="container">

    <div class="row newsec">

      <div class="col-lg-3 column1 pt-2 pb-2">
        <h4>News & Events</h4>
      </div>
      <div class="col-lg-9 column2 pt-2 pb-2">
        <marquee>
        <p>Stay Updated with GMRL: Exciting News and Events Await! Explore the latest in health breakthroughs, special promotions, and community engagements right here. Check back often for updates that keep you informed and inspired.</p>
      </marquee>
      </div>

    </div>

  </div>



<!-- front view sec --end -->

<!-- description sec --start -->


<div class="container">

  <div class="row desprow">

    <div class="col-lg-5 column1 ">
      <img src="{% static 'images/image5.jpg' %}" alt="image2">
    </div>

    <div class="col-lg-7 column2">

      <h6>Welcome to GMRL Labs</h6>

      <h1>Elavating Health Through<br>
      Precision Diagnostics : GMRL Laboratories</h1>

      <p>GMRL laboratory, situated in the heart of Tripunithura, is your trusted destination for comprehensive Health Check up Packages at an affordable cost. Our commitment to excellence is showcased through our state-of-the-art, fully automated analyzers, which undergo daily verfication against biorad USA Quality controls. This stringent quality assurance ensures that your diagonstic results are not only accurate but also reliable.</p>

      <p>Our dedicated professionals are here to guide you through every step of your health assessment, with a mission to provide the highest standard of care and convenience. At GMRL Laboratories, your well-being is our priority, and we are honoured to be your trusted partner on your journy to healthier,happier life.</p>

      <button class="button2">Learn more</button>
    </div>

  </div>

</div>


<div class="container">

  <div class="row despbottum">

    <div class="col-lg column1">
      <span>
        <a href="#">
      <img src="{% static 'images/icon1.png' %}" alt="icon1"></a>
      <h6>Book An Appointment</h6>
    </span>
    </div>
    <div class="col-lg column1">
      <span>
        <a href="#">
      <img src="{% static 'images/icon2.png' %}" alt="icon2"></a>
      <h6>Reach Us</h6>
    </span>
    </div>
    <div class="col-lg column1">
      <span>
        <a href="#">
      <img src="{% static 'images/icon3.png' %}" alt="icon3"></a>
      <h6>Health Packages</h6>
    </span>
    </div>
    <div class="col-lg column1">
      <span>
        <a href="#">
      <img src="{% static 'images/icon4.png' %}" alt="icon4"></a>
      <h6>Available Tests</h6>
    </span>
    </div>
    <div class="col-lg column1">
      <span>
        <a href="#">
      <img src="{% static 'images/icon5.png' %}" alt="icon5">
    </a>
      <h6>Home Visit</h6>
    </span>
    </div>

  </div>

</div>

<!-- description sec --end -->

<!-- department sec --start -->

<div class="container-fluid dept">

  <div class="row deptrow">
    <div class="col-lg depthead">
      <h1>Diverse Departments<br>
      for Comprehensive Health Services</h1>
    </div>
  </div>

  <div class="container">

   
  <div class="row imagerow">
    
    <div class="col-lg-2 column1 ms-2 me-2 pt-4 pb-4">
      <a href="#">
      <span>
      <img src="{% static 'images/icon6.png' %}" alt="icon6">
      <h6>Pathology</h6>
    </span>
  </a>
    </div>
 
  
    <div class="col-lg-2 column1 ms-2 me-2 pt-4 pb-4">
      <a href="#">
      <img src="{% static 'images/icon7.png' %}" alt="icon7">
      <h6>Biochemistry</h6>
    </a>
    </div>
  
  
    <div class="col-lg-2 column1 ms-2 me-2 pt-4 pb-4">
      <a href="#">
      <img src="{% static 'images/icon8.png' %}" alt="icon8">
      <h6>Microbiology</h6>
    </a>
    </div>
  
  
    <div class="col-lg-2 column1 ms-2 me-2 pt-4 pb-4">
      <a href="#">
      <img src="{% static 'images/icon9.png' %}" alt="icon9">
      <h6>Serology</h6>
    </a>
    </div>
  
  
    <div class="col-lg-2 column1 ms-2 me-2 pt-4 pb-4">
      <a href="#">
      <img src="{% static 'images/icon10.png' %}" alt="icon10">
      <h6>Immunology</h6>
    </a>
    </div>
  
    
  </div>

</div>

<div class="container">

  <div class="row callrow mb-5">

  <div class="col-lg-9 column1 pt-3 pb-3">
    
    <div class="row">
      <div class="col-lg-1">
        <img class="calllog" src="{% static 'images/icon11.png' %}" alt="icon11">
      </div>
      <div class="col-lg-6">
        <h2>Emergency Call:</h2>
        <p>Immediate Assistence Available - Dial Now</p>
      </div>
      <div class="col-lg-5">
        <h1>+91 81388 62626</h1>
      </div>
    </div>

  </div>

    <div class="col-lg-3 column2 pt-3 pb-3">
      <h6>Download</h6>
      <h1>BROCHURE</h1>

    </div>

  </div>

</div>



</div>

<!-- department sec --end -->


<!-- package sec --start -->

<div class="container contpack">

  <div class="row rowpack">

    <div class="col-lg-10 column1">
      <h1>GMRL Laboratories:<br>
      Unveiling Our Range of Health Packages</h1>
    </div>
    <div class="col-lg-2 column2">
      <button>View More</button>
    </div>

  </div>

  <div class="row packimg mt-5">
   

    {% for i in pro %}


    <div class="col-lg-4 mt-5 mb-5">

  <a href="#">

  <div class="card">
    <img style="width: 100%;" src="{{i.images}}" class="card-img-top" alt="...">
    <div class="card-body"  style="background-color: rgb(234, 242, 248);">
      <h5 style="color: black;" class="card-title"> {{i.checkup}}</h5>
      <h5 style="color: black;">{{i.price}}</h5>
    </div>
  </div>

</a>
</div>




    {% endfor %}
  

  </div>


</div>


<!-- package sec --end -->

<!-- testmonial sec --start -->

<div class="container-fluid testcont">

  <div class="row testrow">
    <div class="col-lg column1 text-center">
      <h1>Our Testimonials</h1>
    </div>
  </div>

  <div class="container">


      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active">

            <div class="row testcard">
            <div class="col-lg-4 column1 mb-5">
              <div class="card" >
      
                <div class="card-body mt-5 mb-3 ps-4 pe-4">
                
                  <p class="card-text">Lorem ipsum dolor sit amet,consectuter adipiscing elit.Praesent vulpatute vell massa quis imperdiet .N m efficitur eros vel tortor vulputate mattis nullan lea mauries,rhoncus</p>
                </div>
      
               
                <div class="list-group list-group-flush">
      
                  <div class="row ms-3 mt-3 mb-3">
                   <div class="col-lg-3">
                    <img class="johnimg" src="{% static 'images/image7.png' %}" alt="image7">
                  </div>
                  <div class="col-lg-8"> 
                  <h5>John Deo</h5>
                  <h6>Location here</h6>
                   </div> 
                </div>
              </div>
              </div>
            </div>
      
            <div class="col-lg-4 column1 mb-5">
              <div class="card" >
      
                <div class="card-body mt-5 mb-3 ps-4 pe-4">
                
                  <p class="card-text">Lorem ipsum dolor sit amet,consectuter adipiscing elit.Praesent vulpatute vell massa quis imperdiet .N m efficitur eros vel tortor vulputate mattis nullan lea mauries,rhoncus</p>
                </div>
                <div class="list-group list-group-flush">
      
                  <div class="row ms-3 mt-3 mb-3">
                   <div class="col-lg-3">
                    <img class="johnimg" src="{% static 'images/image7.png' %}" alt="image7">
                  </div>
                  <div class="col-lg-9">
                  <h5>John Deo</h5>
                  <h6>Location here</h6>
                  </div> 
                </div>
              </div>
              </div>
            </div>
      
            <div class="col-lg-4 column1 mb-5">
              <div class="card" >
      
                <div class="card-body mt-5 mb-3 ps-4 pe-4">
                
                  <p class="card-text">Lorem ipsum dolor sit amet,consectuter adipiscing elit.Praesent vulpatute vell massa quis imperdiet .N m efficitur eros vel tortor vulputate mattis nullan lea mauries,rhoncus</p>
                </div>
                <div class="list-group list-group-flush">
      
                  <div class="row ms-3 mt-3 mb-3">
                  <div class="col-lg-3">
                    <img class="johnimg" src="{% static 'images/image7.png' %}" alt="image7">
                  </div>
                  <div class="col-lg-9"> 
                  <h5>John Deo</h5>
                  <h6>Location here</h6>
                  </div> 
                </div>
                </div>
              </div>
              </div>

            </div>
          </div>

          <div class="carousel-item">

            <div class="row testcard">
            <div class="col-lg-4 column1 mb-5">
              <div class="card" >
      
                <div class="card-body mt-5 mb-3 ps-4 pe-4">
                
                  <p class="card-text">Lorem ipsum dolor sit amet,consectuter adipiscing elit.Praesent vulpatute vell massa quis imperdiet .N m efficitur eros vel tortor vulputate mattis nullan lea mauries,rhoncus</p>
                </div>
      
               
                <div class="list-group list-group-flush">
      
                  <div class="row ms-3 mt-3 mb-3">
                   <div class="col-lg-3">
                    <img class="johnimg" src="{% static 'images/image7.png' %}" alt="image7">
                  </div>
                  <div class="col-lg-8"> 
                  <h5>John Deo</h5>
                  <h6>Location here</h6>
                   </div> 
                </div>
              </div>
              </div>
            </div>
      
            <div class="col-lg-4 column1 mb-5">
              <div class="card" >
      
                <div class="card-body mt-5 mb-3 ps-4 pe-4">
                
                  <p class="card-text">Lorem ipsum dolor sit amet,consectuter adipiscing elit.Praesent vulpatute vell massa quis imperdiet .N m efficitur eros vel tortor vulputate mattis nullan lea mauries,rhoncus</p>
                </div>
                <div class="list-group list-group-flush">
      
                  <div class="row ms-3 mt-3 mb-3">
                   <div class="col-lg-3">
                    <img class="johnimg" src="{% static 'images/image7.png' %}" alt="image7">
                  </div>
                  <div class="col-lg-9">
                  <h5>John Deo</h5>
                  <h6>Location here</h6>
                  </div> 
                </div>
              </div>
              </div>
            </div>
      
            <div class="col-lg-4 column1 mb-5">
              <div class="card" >
      
                <div class="card-body mt-5 mb-3 ps-4 pe-4">
                
                  <p class="card-text">Lorem ipsum dolor sit amet,consectuter adipiscing elit.Praesent vulpatute vell massa quis imperdiet .N m efficitur eros vel tortor vulputate mattis nullan lea mauries,rhoncus</p>
                </div>
                <div class="list-group list-group-flush">
      
                  <div class="row ms-3 mt-3 mb-3">
                  <div class="col-lg-3">
                    <img class="johnimg" src="{% static 'images/image7.png' %}" alt="image7">
                  </div>
                  <div class="col-lg-9"> 
                  <h5>John Deo</h5>
                  <h6>Location here</h6>
                  </div> 
                </div>
                </div>
              </div>
            </div>
          </div>
          </div>
         
        </div>
      </div>



  </div>

</div>

<!-- testmonial sec --end -->

 <!--enquiry sec --start--> 

 <div class="container">

  <div class="row enqrow">

    <div class="col-lg-8 column1">

      <h2>Embrace Excellence:<br>
      Why GMRL Laboratories Stands Out</h2>
      <p class="para1">At GMRL Laboratories,we stand out as a beacon of excellence,offering top-notch diagnostic services and a<br> commitment to your well-being.</p>


          <ul>
            <li style="list-style:none">
              <p><i class="fa fa-check text-success"></i>Cutting-edge,precision diagnostic technology</p>
              <p><i class="fa fa-check text-success"></i>A highly skilled,dedicated team of healthcare professionals</p>
              <p><i class="fa fa-check text-success"></i>Stringent quality control protocols to ensure result accuracy</p>
              <p><i class="fa fa-check text-success"></i>An extension selection comperhensive Health check up packages</p>
              <p><i class="fa fa-check text-success"></i>Competative and accessible pricing to promte yourself</p>
              <p><i class="fa fa-check text-success"></i>convienient,patient centric-services for your well-being</p>
            </li>

          </ul>

      <button class="enqbutton">Learn more</button>
    </div>

    <div class="col-lg-4">
      enquiry
    </div>

  </div>

 </div>



  <!--enquiry sec --end--> 


  <!-- footer sec --start -->


  <section class="footersec">

    <div class="container firstcont pt-3 pb-3">

      <div class="row footrow">
        
        
        <div class="col-lg-6 column1">    
          <h4><span>
            <img src="{% static 'images/make-appointment.png' %}" alt="make an Appointment">
          </span>Make an Appointment</h4>
          <p>Call +91 81388 62626 or click Book Now to secure your appointment.</p>
        </div>
      
        <div class="col-lg-2 column2">
          <a href="#">
            <button>Book Now</button>
          </a>
        </div>
      

        <div class="col-lg-4 column3">
          <h4>
          <span>
            <img src="{% static 'images/openinh-hours-logo.png' %}" alt="time">
            Opening Hours</h4>
            <p>Mon - Sun : 5:00AM to 10:00PM</p>
          </span>
        </div>
      
      </div>

    </div>



    <div class="container footerlinks ">

      <div class="row footrow">

        <div class="col-lg-2">
          <img src="{% static 'images/gmrl-footer-logo.svg' %}" alt="footerlogo">
        </div>

        <div class="col-lg-2 ps-4 pe-4">
          <h4>Quick Links</h4>

          <div>
            <ul style="list-style: none;">
              <li>Home</li>
              <li>About Us</li>
              <li>Packages</li>
              <li>Departments</li>
              <li>Gallery</li>
              <li>Blog</li>
              <li>Testimonials</li>
              <li>Branches</li>
              <li>Contact Us</li>
              <li>Privacy policy</li>
              <li>Terms & conditions</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 ps-4 pe-4">
          <h4>Departments</h4>

          <div>
            <ul style="list-style: none;">
              <li>Pathology</li>
              <li>Biochemistry</li>
              <li>Microbiology</li>
              <li>Serology</li>
              <li>Immunology</li>
              <li>Radiology</li>
              <li>Molecular Biology</li>
            </ul>
          </div>

        </div>


        <div class="col-lg-2 ps-4 pe-4">
          <h4>Our Packages</h4>
          <div>
            <ul style="list-style: none;">
              <li>Executive Package</li>
              <li>Ayush General</li>
              <li>Ayush Silver Plan</li>
              <li>Ayush Diabetic & Kidney Care</li>
              <li>Ayush Gold</li>
            </ul>
          </div>
        </div>


        <div class="col-lg-2 ms-4">
          <h4>Get In Touch</h4>
          <div>
            <ul style="list-style: none;">
              <li>GMRL Laboratories Chambakkara, Ernakulam, Ernakulam - 682011</li>
              <li>+91 81388 62626</li>
              <li>0484 0000 0000</li>
              <li>info@gmrllabs.com</li>
            </ul>
          </div>
        </div>


      </div>

    </div>

  </section>

  <!-- footer sec --end -->




</div>


    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>